body {
        width:auto;
        max-width: 100%;
        margin-left:auto;
        margin-right:auto;
        margin-top:auto;
        background-color:aliceblue;
        align-content:space-between;
        background:center fixed;
        
    }

