<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer"
   connectionString="Data Source=127.0.0.1;Initial Catalog=mukul;User ID=mukul;PWD=1DSEL2ND;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="mukulCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=mukul;UID=mukul;PWD=1DSEL2ND;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="pubsCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=pubs;UID=mukul;PWD=1DSEL2ND;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="NorthwindCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=Northwind;UID=mukul;PWD=1DSEL2ND;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="AdventureWorksCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorks;UID=mukul;PWD=1DSEL2ND;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="AdventureWorksDWCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorksDW;UID=mukul;PWD=1DSEL2ND;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
</connectionStrings>