<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer"
       connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=mukul;User ID=mukul;PWD=1DSEL2ND
;Persist Security Info=True"
       providerName="System.Data.SqlClient" />
  <add name="mukulCS"
       connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=mukul;User ID=mukul;PWD=1DSEL2ND
;Persist Security Info=True"
       providerName="System.Data.SqlClient" />
  <add name="pubsCS"
       connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=pubs;User ID=mukul;PWD=1DSEL2ND
;Persist Security Info=True"
       providerName="System.Data.SqlClient" />
  <add name="NorthwindCS"
       connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=Northwind;User ID=mukul;PWD=1DSEL2ND
;Persist Security Info=True"
       providerName="System.Data.SqlClient" />
  <add name="AdventureWorksCS"
       connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=AdventureWorks;User ID=mukul;PWD=1DSEL2ND
;Persist Security Info=True"
       providerName="System.Data.SqlClient" />
  <add name="AdventureWorksDWCS"
       connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=AdventureWorksDW;User ID=mukul;PWD=1DSEL2ND
;Persist Security Info=True"
       providerName="System.Data.SqlClient" />
</connectionStrings>